html,
body {
  overflow-x: hidden;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.App {
  position: relative;
  --bgColor: rgb(240, 240, 240);
  --fadedBgColor: rgba(220, 220, 220, var(--bg-opacity));
  --mainFontSize: 1.2rem;
  --h1FontSize: 2.8rem;
  --headerFontSize: 1.8rem;
  --navFontSize: 1.4rem;
  --navHeight: 3.2rem;
  --bgDark: rgb(38, 38, 38, 0.6);
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}

.flexCenterAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.centerText {
  text-align: center;
}

#metaBallsWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  background-color: rgba(240, 240, 240, var(--bg-opacity));
  overflow: hidden;
}

main > section {
  height: 100vh;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 80rem;
  max-width: 94%;
}

header {
  background-color: rgba(38, 38, 38, calc(var(--bg-opacity) - 0.4));
  width: 100%;
  display: block;
  height: 3.2rem;
  position: fixed;
  z-index: 5;
}

header .inner {
  height: 100%;
}

header .githubLink {
  margin-left: auto;
  height: calc(100% - 0.6rem);
}

header .githubIcon {
  height: 100%;
  opacity: var(--bg-opacity);
  -webkit-filter: invert(1);
          filter: invert(1);
}

header ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .mainIcon,
header li {
  font-weight: bold;
  cursor: pointer;
  opacity: var(--bg-opacity);
  font-size: var(--navFontSize);
  color: #f0f0f0;
  margin-right: 4rem;
}

header #myLogo {
  fill: #f0f0f0;
  height: 2.8rem;
  max-height: 100%;
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
}

.iconLink img {
  width: 100%;
  height: auto;
}

.welcomeWrapper {
  border-radius: 30rem;
  height: 40rem;
  width: 40rem;
  max-width: 100%;
  background-image: radial-gradient(rgba(79, 5, 92, 0.322) 40%, transparent 70%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.welcomeWrapper * {
  color: #f0f0f0;
}

.welcomeWrapper:after {
  z-index: -1;
  content: "";
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  border-radius: 100%;
  background-image: radial-gradient(rgba(0, 0, 0, 0.959) 30%, transparent 72%);
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
  -webkit-animation: expandBubble 8s infinite ease-in-out;
          animation: expandBubble 8s infinite ease-in-out;
  -webkit-transition: 3s;
  transition: 3s;
}

.welcomeWrapper:hover:after {
  background-color: rgba(255, 0, 106, 0.24);
  -webkit-filter: blur(22px);
          filter: blur(22px);
}

@-webkit-keyframes expandBubble {
  0% {
    opacity: 0.8;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  66% {
    opacity: 0.6;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 0.8;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@keyframes expandBubble {
  0% {
    opacity: 0.8;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  66% {
    opacity: 0.6;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 0.8;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

.welcomeWrapper h1 {
  font-size: 4rem;
  margin: 0.2rem;
  text-transform: uppercase;
}

.welcomeWrapper h2 {
  margin-top: 0.4rem;
  font-size: var(--headerFontSize);
  margin-bottom: 0.1rem;
}

.welcomeWrapper h3 {
  font-size: calc(var(--headerFontSize) * 0.9);
}

.welcomeWrapper #myLogo {
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
  fill: transparent;
  stroke: white;
  width: 8rem;
  max-width: 40%;
  margin-bottom: 1rem;
}

.gradientButton {
  border: none;
  border-radius: 0.4rem;
  padding: 0.8rem 1.2rem;
  display: block;
  margin: 2rem auto 0 auto;
  background-color: transparent;
  background-image: repeating-linear-gradient(60deg, #4f055c, #ff006a, #4f055c);
  background-size: 200%;
  color: #f0f0f0;
  font-weight: bold;
  cursor: pointer;
  font-size: var(--navFontSize);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.gradientButton:hover {
  background-size: 360%;
  background-position: 100% 0;
  -webkit-filter: brightness(1.2) saturate(1.1);
          filter: brightness(1.2) saturate(1.1);
}

.fadeInColor {
  -webkit-animation: colorAnimation 3s forwards;
          animation: colorAnimation 3s forwards;
}

@-webkit-keyframes colorAnimation {
  from {
    background-color: transparent;
  }
  to {
    background-color: #8b40e0;
  }
}

@keyframes colorAnimation {
  from {
    background-color: transparent;
  }
  to {
    background-color: #8b40e0;
  }
}

#portfolioSection {
  height: unset !important;
  min-height: 100vh;
}

#portfolioSection .inner {
  padding: 6.2rem 0 2rem 0;
}

.sectionHeader {
  text-align: left;
  font-size: var(--headerFontSize);
  color: rgba(0, 0, 0, calc(var(--bg-opacity)));
  font-weight: bold;
}

.projectList {
  padding: 0.4rem 0 2.2rem 0;
}

.projectItem {
  width: 100%;
  max-width: 100%;
  margin-top: 3.2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.4rem;
  background-color: rgba(240, 240, 240, 0.2);
}

.projectItem .imgContainer,
.projectItem .imgSliderLink {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.projectItem .imgContainer,
.projectItem .imageSlider {
  width: 100%;
  overflow: hidden;
  border-radius: 0.4rem;
}

.projectItem img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.projectItem .projectDescription {
  grid-column: 3/-1;
  width: 100%;
  min-height: 100%;
  padding: 0.8rem 1rem;
  font-size: var(--mainFontSize);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projectItem .projectDescription .projectTitle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectItem .projectDescription .projectTitle a {
  font-size: var(--headerFontSize);
  font-weight: bold;
  text-decoration: none;
  color: #ff006a;
}

.projectItem .projectDescription .projectTitle .githubLink {
  margin-left: auto;
  height: 2rem;
  width: 2rem;
}

.projectItem .projectDescription .descriptionText {
  margin: 1.2rem 1.2rem 1.2rem 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.projectItem .projectDescription .techStackList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectItem .projectDescription .techStackList div {
  margin-right: 0.2rem;
  font-size: calc(var(--mainFontSize) * 0.9);
  font-weight: bold;
}

.projectItem .projectDescription .techStackList .npmIconLink {
  margin-left: auto;
}

.projectItem .projectDescription .techStackList .npmIconLink .npmIcon {
  height: 1rem;
  width: auto;
}

.neomorphism {
  -webkit-box-shadow: 0.4rem 0.4rem 0.8rem #3d3d3d77, -0.5rem -0.5rem 1.2rem #f5f5f5a2, 0.4rem 0.4rem 2rem #ffffff4d inset;
          box-shadow: 0.4rem 0.4rem 0.8rem #3d3d3d77, -0.5rem -0.5rem 1.2rem #f5f5f5a2, 0.4rem 0.4rem 2rem #ffffff4d inset;
  border-radius: 0.4rem;
}

.neomorphismInvert {
  -webkit-box-shadow: 0.3rem 0.3rem 0.2rem #3d3d3d54 inset, -0.2rem -0.2rem 0.2rem #ffffffa2 inset;
          box-shadow: 0.3rem 0.3rem 0.2rem #3d3d3d54 inset, -0.2rem -0.2rem 0.2rem #ffffffa2 inset;
  border-radius: 0.4rem;
  overflow: hidden;
}

.moreProjects {
  cursor: pointer;
  height: 14rem;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.moreProjects:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, transparent), color-stop(80%, var(--bgColor)));
  background-image: linear-gradient(transparent 20%, var(--bgColor) 80%);
}

.moreProjects .projectDescription h1 {
  font-size: var(--headerFontSize);
  color: #ff006a;
}

.moreProjects .imgContainer {
  height: 100%;
}

.gitHubCard {
  margin: 6rem auto 0.4rem auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  min-height: 38rem;
}

.gitHubCard .allLoadedGraphic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gitHubCard .allLoadedGraphic.animationActive h1 {
  -webkit-animation: slideIn 0.8s ease-in-out 1.4s forwards;
          animation: slideIn 0.8s ease-in-out 1.4s forwards;
}

.gitHubCard .allLoadedGraphic.animationActive h3 {
  -webkit-animation: slideIn 1s ease-in-out 1s forwards;
          animation: slideIn 1s ease-in-out 1s forwards;
}

.gitHubCard .allLoadedGraphic.animationActive img {
  -webkit-animation: flyUp 2s ease-in-out forwards, wobble 4s ease-in-out 2s infinite;
          animation: flyUp 2s ease-in-out forwards, wobble 4s ease-in-out 2s infinite;
}

.gitHubCard h3 {
  color: #ff006a;
  font-size: var(--navFontSize);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.gitHubCard h1 {
  color: #ff006a;
  margin-top: 1rem;
  font-size: var(--h1FontSize);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.gitHubCard img {
  z-index: 2;
  max-width: 50%;
  width: 32rem;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
}

.gitHubCard .calenderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gitHubCard article {
  display: inline-block;
  min-height: 12rem;
  max-width: 100%;
  margin-left: auto;
  margin-top: -10%;
}

@-webkit-keyframes flyUp {
  from {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes flyUp {
  from {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(8%);
            transform: translateY(8%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes wobble {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(8%);
            transform: translateY(8%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.contactSection {
  padding: 12rem 0 3rem 0;
  height: unset;
}

.contactSection .neomorphism {
  padding: 1.2rem 2rem;
}

.contactSection .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contactSection .formContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 100%;
  min-width: 20rem;
  margin-right: 2rem;
}

.contactSection form {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  text-align: left;
  position: relative;
}

.contactSection form * {
  border-color: rgba(0, 0, 0, 0.2) !important;
}

.contactSection form .succesMessage {
  position: absolute;
  width: 100%;
  height: 6rem;
}

.contactSection form .succesMessage h3 {
  cursor: pointer;
  color: #f0f0f0;
  border-radius: 0.6rem;
  padding: 0.4rem 2rem;
  font-weight: bold;
  -webkit-animation: fadeIn 0.4s ease-in-out;
          animation: fadeIn 0.4s ease-in-out;
  max-width: 100%;
}

.contactSection form .succesMessage h3.messageSucces {
  background-color: #4f055c;
}

.contactSection form .succesMessage h3.messageFail {
  background-color: red;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.contactSection form textarea {
  width: 100%;
  display: block;
  max-width: 100%;
  border: none;
  background-color: var(--bgColor);
  padding: 0.2rem 0.4rem;
  margin: 0.4rem 0 1rem 0;
}

.contactSection form label {
  font-size: var(--navFontSize);
  font-weight: bold;
}

.contactSection form label.required::after {
  content: "*";
  color: red;
}

.contactSection form .contactRow {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(12rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-gap: 0 2rem;
  width: 100%;
}

.contactSection form .contactRow input {
  margin: 0.4rem 0;
  display: block;
  width: 100%;
  border: none;
  padding: 0.4rem 0.4rem;
  background-color: var(--bgColor);
}

.contactSection form #submitInput {
  margin: 2rem 0 0.2rem 0;
  padding: 0.6rem 1.2rem;
}

.contactSection .sectionHeader {
  margin-bottom: 1.4rem;
  width: 100%;
}

.contactSection img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  width: 100%;
}

.contactSection .aboutContainer {
  width: 24rem;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactSection .aboutContainer h3 {
  margin-bottom: 0.4rem;
  font-size: var(--navFontSize);
}

.contactSection .aboutContainer .aboutInner {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 2.4rem 0 auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactSection .aboutContainer .aboutInner * {
  margin-bottom: 0.6rem;
}

.contactSection .aboutContainer .aboutInner .aboutName {
  font-size: var(--navFontSize);
  font-weight: bold;
}

.contactSection .aboutContainer .aboutInner .aboutGhLink {
  margin-bottom: 2rem;
  background-image: url(./images/github.png);
}

.contactSection .aboutContainer .aboutInner .mailLink {
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-image: url(./images/send-2.svg);
}

.contactSection .aboutContainer .aboutInner a {
  font-weight: bold;
  display: block;
  background-size: var(--mainFontSize);
  background-repeat: no-repeat;
  background-position: 0 center;
  padding-left: 2rem;
}

.contactSection .aboutContainer .aboutInner .currentStatus {
  font-size: var(--navFontSize);
  font-weight: bold;
  margin-top: auto;
}

.imageSlider {
  position: relative;
  width: 100%;
}

.imageSlider .imageSliderContainer {
  width: 100%;
  height: 0;
  padding-bottom: 56.5%;
}

.imageSlider .imageSliderContainer img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1020px) {
  .contactSection {
    padding-top: 6rem;
  }
}

@media (max-width: 840px) {
  .App {
    --headerFontSize: 1.4rem;
    --navFontSize: 1.2rem;
    --mainFontSize: 1rem;
  }
  .projectItem {
    display: block;
    border-radius: 0.4rem;
    overflow: hidden;
  }
  .projectItem .projectDescription {
    min-height: 12rem;
    padding: 0.6rem 0.8rem 0.4rem 0.8rem;
  }
  .projectItem .projectDescription .descriptionText {
    margin: 1.2rem 0 2rem 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .projectItem .imageSlider,
  .projectItem .imgContainer {
    border: none;
  }
  .moreProjects {
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
  .moreProjects:after {
    padding: 0.8rem;
    font-size: var(--headerFontSize);
    font-weight: bold;
    color: #ff006a;
    content: "LOAD MORE";
  }
  .gitHubCard {
    min-height: 30rem;
  }
  .welcomeWrapper {
    width: 30rem;
    height: 30rem;
  }
  .welcomeWrapper h1 {
    font-size: 2.8rem !important;
  }
  .contactSection .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contactSection .inner .aboutContainer,
  .contactSection .inner .formContainer {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    min-width: unset;
  }
  .contactSection .inner .formContainer {
    margin-top: 3.2rem;
  }
  .contactSection .inner .formContainer.neomorphism {
    padding: 1.2rem 0.8rem;
  }
}

@media (max-width: 450px) {
  .App {
    --h1FontSize: 1.8rem;
    --headerFontSize: 1.2rem;
    --navFontSize: 1rem;
  }
  header .mainIcon {
    margin-right: 0;
  }
  header ul {
    margin: 0 1rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header ul li {
    margin-right: 0;
  }
  .welcomeWrapper {
    width: 20rem;
    height: 20rem;
  }
  .welcomeWrapper h1 {
    font-size: 2.2rem !important;
  }
  #portfolioSection .inner {
    padding-bottom: 0rem !important;
  }
  #portfolioSection .gitHubCard {
    min-height: 20rem !important;
  }
  #portfolioSection .gitHubCard article {
    margin: 0;
  }
  #portfolioSection .gitHubCard .allLoadedGraphic {
    display: block;
  }
  #portfolioSection .gitHubCard .allLoadedGraphic h1 {
    margin: 0.2rem 0 0.4rem 0;
  }
  #portfolioSection .gitHubCard .allLoadedGraphic img {
    max-width: 18rem;
  }
  .contactSection {
    padding-top: 0;
  }
}
/*# sourceMappingURL=index.css.map */