html,
body {
  overflow-x: hidden;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  position: relative;
  --bgColor: rgb(240, 240, 240);
  --mainFontSize: 1.2rem;
  --h1FontSize: 2.8rem;
  --h3FontSize: 2rem;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}

.flexCenterAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.centerText {
  text-align: center;
}

.contentDiv {
  /* background-color: rgba(100,100,100,0.4); */
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 4rem;
  color: #f0f0f0;
}

#metaBallsWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.fadeOutMetaBalls {
  opacity: 0;
}

main {
  width: 100%;
  background-color: rgba(240, 240, 240, var(--bg-opacity));
  overflow: hidden;
}

main > section {
  height: 100vh;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 80rem;
  max-width: 94%;
}

nav {
  background-color: rgba(38, 38, 38, calc(var(--bg-opacity) - 0.4));
  width: 100%;
  display: block;
  height: 3rem;
  position: fixed;
  z-index: 2;
}

nav .inner {
  height: 100%;
  /* background-color: red; */
}

nav .githubLink {
  margin-left: auto;
  height: calc(100% - 0.6rem);
}

nav .githubIcon {
  height: 100%;
  opacity: var(--bg-opacity);
  -webkit-filter: invert(1);
          filter: invert(1);
}

nav ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav li {
  list-style-type: none;
}

nav .mainIcon,
nav li {
  font-weight: bold;
  cursor: pointer;
  opacity: var(--bg-opacity);
  font-size: 1.4rem;
  color: #f0f0f0;
  margin-right: 4rem;
}

.iconLink {
  text-decoration: none;
}

.iconLink img {
  width: 100%;
  height: auto;
}

#welcomeSection h1, #welcomeSection h3 {
  color: #f0f0f0;
}

.welcomeWrapper {
  border-radius: 30rem;
  height: 40rem;
  width: 40rem;
  max-width: 100%;
  background-image: radial-gradient(rgba(79, 5, 92, 0.322) 40%, transparent 70%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.welcomeWrapper:after {
  z-index: -1;
  content: "";
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  border-radius: 100%;
  background-image: radial-gradient(rgba(0, 0, 0, 0.8) 30%, transparent 72%);
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
  -webkit-animation: expandBubble 8s infinite ease-in-out;
          animation: expandBubble 8s infinite ease-in-out;
  -webkit-transition: 3s;
  transition: 3s;
}

.welcomeWrapper:hover:after {
  background-color: rgba(118, 16, 214, 0.24);
  -webkit-filter: blur(22px);
          filter: blur(22px);
}

@-webkit-keyframes expandBubble {
  0% {
    opacity: 0.8;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  66% {
    opacity: 0.6;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 0.8;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@keyframes expandBubble {
  0% {
    opacity: 0.8;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  66% {
    opacity: 0.6;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 0.8;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

.welcomeWrapper h1 {
  font-size: 3.8rem;
  margin: 0.2rem;
}

.welcomeWrapper h3 {
  font-size: var(--h3FontSize);
}

.callToAction {
  border: 0.1rem solid transparent;
  padding: 0.6rem 1rem;
  display: block;
  margin: 2rem auto 0 auto;
  background-color: #f0f0f0;
  color: #4f055c;
  font-weight: bold;
  cursor: pointer;
}

.callToAction.hoverScale:hover {
  border: 0.1rem solid #f0f0f0 !important;
  background-color: #4f055c !important;
  color: #f0f0f0 !important;
}

button {
  border: none;
  /* border-radius: 0.2rem; */
  font-size: var(--mainFontSize);
}

.callToAction {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.hoverScale:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.fadeInColor {
  -webkit-animation: colorAnimation 3s forwards;
          animation: colorAnimation 3s forwards;
}

@-webkit-keyframes colorAnimation {
  from {
    background-color: transparent;
  }
  to {
    background-color: #8b40e0;
  }
}

@keyframes colorAnimation {
  from {
    background-color: transparent;
  }
  to {
    background-color: #8b40e0;
  }
}

#portfolioSection {
  height: unset !important;
  min-height: 100vh;
}

#portfolioSection .inner {
  padding: 4.2rem 0 10rem 0;
}

.projectList {
  padding: 0.4rem 0 2.2rem 0;
}

.projectItem {
  width: 100%;
  max-width: 100%;
  margin-top: 2.4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectItem .imgContainer,
.projectItem .imageSlider {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  overflow: hidden;
  border-radius: 0.4rem;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  border: 0.06rem solid #474747a4;
}

.projectItem img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.projectItem .projectDescription {
  grid-column: 3/-1;
  width: 100%;
  min-height: calc(100% - 1.4rem);
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  padding: 0.8rem 1rem;
  -webkit-box-shadow: 0.4rem 0.4rem 1rem #9c9c9c85;
          box-shadow: 0.4rem 0.4rem 1rem #9c9c9c85;
  background-color: rgba(240, 240, 240, 0.2);
  font-size: var(--mainFontSize);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projectItem .projectDescription .projectTitle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectItem .projectDescription .projectTitle a {
  font-size: var(--h3FontSize);
  font-weight: bold;
  text-decoration: none;
  color: #7610d6;
}

.projectItem .projectDescription .projectTitle .githubLink {
  margin-left: auto;
  height: 2rem;
  width: 2rem;
}

.projectItem .projectDescription p {
  margin: 1rem 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.projectItem .projectDescription .techStackList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* img{
        height: 2rem;
        width: auto;
        margin: 0 0.4rem;
        
      } */
}

.projectItem .projectDescription .techStackList div {
  margin-right: 0.2rem;
  font-size: calc(var(--mainFontSize) * 0.9);
  font-weight: bold;
}

.projectItem .projectDescription .techStackList .npmIconLink {
  margin-left: auto;
}

.projectItem .projectDescription .techStackList .npmIconLink .npmIcon {
  height: 1rem;
  width: auto;
}

/* .fancyShadow {
  box-shadow: 0.4rem 0.4rem 1rem #9c9c9c85, -0.4rem -0.4rem 1rem #fff, inset 1rem 1rem 1rem hsla(0,0%,100%,.25);
} */
.moreProjects {
  cursor: pointer;
  height: 10rem;
  overflow: hidden;
  position: relative;
}

.moreProjects:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, transparent), color-stop(70%, var(--bgColor)));
  background-image: linear-gradient(transparent 20%, var(--bgColor) 70%);
}

.moreProjects .projectDescription h1 {
  font-size: var(--h3FontSize);
  color: #7610d6;
}

.moreProjects .imgContainer {
  height: 100%;
}

.gitHubCard {
  margin: 6rem auto 0.4rem auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  min-height: 44rem;
}

.gitHubCard .allLoadedGraphic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gitHubCard .allLoadedGraphic.animationActive h1 {
  -webkit-animation: slideIn 0.8s ease-in-out 1.4s forwards;
          animation: slideIn 0.8s ease-in-out 1.4s forwards;
}

.gitHubCard .allLoadedGraphic.animationActive h3 {
  -webkit-animation: slideIn 1s ease-in-out 1s forwards;
          animation: slideIn 1s ease-in-out 1s forwards;
}

.gitHubCard .allLoadedGraphic.animationActive img {
  -webkit-animation: flyUp 2s ease-in-out forwards, wobble 4s ease-in-out 2s infinite;
          animation: flyUp 2s ease-in-out forwards, wobble 4s ease-in-out 2s infinite;
}

.gitHubCard h3 {
  font-size: var(--h3FontSize);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.gitHubCard h1 {
  margin-top: 1rem;
  font-size: var(--h1FontSize);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.gitHubCard img {
  max-width: 50%;
  width: 32rem;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
}

.gitHubCard article {
  min-height: 12rem;
  margin: auto;
}

@-webkit-keyframes flyUp {
  from {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes flyUp {
  from {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(8%);
            transform: translateY(8%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes wobble {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(8%);
            transform: translateY(8%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.contactSection {
  padding-top: 4rem;
  height: unset;
  min-height: 100vh;
}

.contactSection .inner {
  text-align: center;
}

.contactSection form {
  display: inline-block;
  /* padding: 1rem 0.2rem; */
  max-width: 100%;
  text-align: left;
  position: relative;
}

.contactSection form .succesMessage {
  position: absolute;
  width: 100%;
  height: 6rem;
  /* background-image: linear-gradient(transparent, purple ,transparent); */
}

.contactSection form .succesMessage h3 {
  cursor: pointer;
  color: #f0f0f0;
  border-radius: 0.6rem;
  padding: 0.4rem 2rem;
  font-size: var(--h3FontSize);
  font-weight: bold;
  -webkit-animation: fadeIn 0.4s ease-in-out;
          animation: fadeIn 0.4s ease-in-out;
  max-width: 100%;
}

.contactSection form .succesMessage h3.messageSucces {
  background-color: #4f055c;
}

.contactSection form .succesMessage h3.messageFail {
  background-color: red;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.contactSection form textarea {
  width: 40rem;
  display: block;
  max-width: 100%;
  border: 1px solid grey;
  border-radius: 0.4rem;
  padding: 0.2rem 0.4rem;
  margin: 0.4rem 0 1rem 0;
}

.contactSection form label {
  font-size: var(--mainFontSize);
  font-weight: bold;
}

.contactSection form label.required::after {
  content: "*";
  color: red;
}

.contactSection form .contactRow {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(12rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-gap: 0 2rem;
  width: 100%;
}

.contactSection form .contactRow input {
  margin-top: 0.4rem;
  display: block;
  width: 100%;
  border-radius: 0.4rem;
  border: 1px solid grey;
  padding: 0.2rem 0.4rem;
}

.contactSection form #submitInput {
  margin: 4rem auto 2rem auto;
  /* display: block; */
  background-color: #4f055c;
  border: 0.1rem transparent;
  color: #f0f0f0;
  padding: 0.6rem 1.2rem;
  font-size: var(--mainFontSize);
  /* width: 100%; */
  width: 100%;
  border-radius: 0.4rem;
}

.contactSection h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: var(--h1FontSize);
}

.contactSection img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  width: 40rem;
}

.imageSlider {
  position: relative;
  /* width: 40rem; */
  width: 100%;
}

.imageSlider .imageSliderContainer {
  width: 100%;
  height: 0;
  padding-bottom: 56.5%;
  /* background-color: red; */
}

.imageSlider .imageSliderContainer img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1020px) {
  .App {
    --mainFontSize: 1rem;
  }
  /* .projectItem {
    .projectDescription {
      height: 100%;
      font-size: 1rem;
    }
  } */
}

@media (max-width: 840px) {
  .App {
    --h3FontSize: 1.8rem;
  }
  .projectItem {
    display: block;
    -webkit-box-shadow: 0.4rem 0.4rem 1rem #9c9c9c85, -0.4rem -0.4rem 1rem white, inset 1rem 1rem 1rem rgba(255, 255, 255, 0.25);
            box-shadow: 0.4rem 0.4rem 1rem #9c9c9c85, -0.4rem -0.4rem 1rem white, inset 1rem 1rem 1rem rgba(255, 255, 255, 0.25);
    border-radius: 0.4rem;
    overflow: hidden;
  }
  .projectItem .projectDescription {
    min-height: 12rem;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    padding: 0.6rem 0.4rem 0.2rem 0.4rem;
  }
  .moreProjects.projectItem {
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
  .moreProjects:after {
    font-size: var(--h3FontSize);
    font-weight: bold;
    color: #7610d6;
    content: "LOAD MORE";
    text-align: center;
    line-height: 10rem;
  }
  .welcomeWrapper {
    width: 30rem;
    height: 30rem;
  }
  .welcomeWrapper h1 {
    font-size: 2.8rem !important;
  }
}

@media (max-width: 450px) {
  .App {
    --h1FontSize: 1.8rem;
    --h3FontSize: 1.4rem;
  }
  nav .mainIcon {
    margin-right: 0;
  }
  nav ul {
    margin: 0 1rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav ul li {
    margin-right: 0;
  }
  .welcomeWrapper {
    width: 20rem;
    height: 20rem;
  }
  .welcomeWrapper h1 {
    font-size: 2.2rem !important;
  }
  #portfolioSection .inner {
    padding-bottom: 0rem !important;
  }
  #portfolioSection .gitHubCard {
    min-height: 20rem !important;
  }
  .contactSection {
    padding-top: 0;
  }
}
/*# sourceMappingURL=index.css.map */