$contentWidth: 80rem;
$navHeight: 3rem;

*{
    margin: 0;
    box-sizing: border-box;
}
html,
body,
#root,
.App {
  height: 100%;
}


.App {
  /* position: relative; */
}


.flexCenterAll{
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerText{
    text-align: center;
}

.contentDiv {
  /* background-color: rgba(100,100,100,0.4); */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 4rem;
  color: white;
}

#metaBallsWrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 2s;
}

.fadeOutMetaBalls{
  opacity: 0;
}

main {
  position: relative;
  z-index: 1;
  width: 100%;
  section{
    height: 100vh;
  }
}

.inner{
    margin-left: auto;
    margin-right: auto;
    width: $contentWidth;
    max-width: 94%;
}

nav{
    background-color: red;
    width: 100%;
    display: block;
    height: $navHeight;
    position: fixed;
    z-index: 2;
    .inner{
        height: 100%;
        background-color: red;
    }
}

#welcomeSection{
  *{
    color: rgb(240, 240, 240);
  }
  h1{
      font-size: 4rem;
      margin: 0.2rem;
  }
  h3{
      font-size: 1.8rem;
  }
  button{
      padding: 0.6rem 1rem;
      display: block;
      margin: 2rem auto 0 auto;
      background-color: rgb(201, 14, 85);
      font-weight: bold;
      cursor: pointer;
  }
}

button{
    border: none;
    /* border-radius: 0.2rem; */
    font-size: 1.4rem;
}

.callToAction{
    transition: transform 0.4s;
}

.hoverScale:hover{
    transform: scale(1.05);
}

#portfolioSection{
  .inner{
      padding-top: 4.2rem;
  }
}
.fadeInColor{
  animation: colorAnimation 3s forwards;

}

@keyframes colorAnimation{
  from {
    background-color: transparent;
  }
  to{
    background-color: rgb(139, 64, 224);
  }
}


